@import url("./menu.css");
body {
  margin:0px;
  padding:0px;
  background-color: #f6f6f6;
  text-align: center;
}

h1 {
  text-align:left;
  width:100%;
  height: 100px;
  color: #ff8954;
  margin:0px;
  padding:0px;
  background-color: #1b2538;
  font-weight: bold;
}

h1 img {
  border-radius:50%;
  position:absolute;
  top:10px;
  left:10px;
  width:50px;
  height:50px;
}
.titleText
{
  position:absolute;
  left:70px;
  top:15px;
  text-align:left;
}
.Test
{
  z-index: 1;
  top: 0%;
  width:100%;
  height: 100%;
  position:absolute;
  margin:0px;
  padding:0px;
  background-color: #1D9AF2;
  
  animation-name: startAnime;

  animation-delay:1s;
  animation-duration: 0.15s;
  transition-timing-function : ease-in;
  animation-fill-mode:forwards;
}
@keyframes startAnime {
  0% 
  {

    top: 0%;
    height: 100%;
  }
  100%
  {

    top: 100%;
    height: 0%;
  }
}

.fixed_btn
{
  position: fixed;
  top: 10px;
  right: 10px;

  border: none;
  background: transparent;
}

.fixed_btn img
{
  position: relative;
  width:40x;
  height:40px;
}


.content-area 
{
  width:100%;
  height: 100%;
}
.content {
  display: none;
}
.content.show 
{
  text-align:left;
  width:100%;
  height: 100%;
  color: #3e3366;
  margin:0px;
  padding:0px;
  background-color: #ffffff;
  display: block;
}